# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

pickle_dumps/
answers/
test/
train/
